    
body{
   background-color: cornsilk;
}

h1,h2,h3,h4,h5,h6,p,nav,div{
    font-family: 'Courier New', Courier, monospace;
    color: navy;
}

h1{
    padding: 1%;
    border-left: 3px solid navy;
}

h2{
    text-indent: 10px;
    padding: 0.5%;
    border-left: 3px solid navy;
}

img{
    border-radius: 15px;
    width: 15%;
    height: auto;
}

nav {
    float: right;
    justify-content: flex-start;  
    
}

ul{
    display: flex;
    flex-direction: column;
}
  
footer{
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1%;
}

p{
    text-indent: 1%;
}

/* all of this nav bar code was based off source code from this article https://webdevtrick.com/html-css-navigation-bar/ */
/* this section styles nav bar on top right */
.top-right li {
    float: left;
    width: 20%;
  }
.top-right li:hover a::before {
    right: 0;
    left: 0;
  }
.top-right a {
    color: grey;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    padding: 2px 0;
    display: block;
    position: relative;
}
.top-right a:hover {
    color: navy;
}

.top-right a:hover::before {
    right: 0;
    left: 0;
}
   
li {
   list-style: none;
}

/* This section adds overlay features to the about me images */
/* I used W3 to understand most of how to make this effect work */
/* Because this is one page I did not add a feature that would
take you to a seperate page when clicking on image but 
hopefully in the future I can add this feature to my portfolio */

.row {
    display: flex;
    flex-direction: row;
}

.column {
    flex: 33.33%;
    padding: 50px;
}

@media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
}

.container {
    position: relative;
    width: 100%;
    display: flex;
}
  
.image {
    display: flex;  
    opacity: 1;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}
  
.container:hover .image {
    opacity: 0.3;
}
  
.container:hover .middle {
    opacity: 1;
}
  
.text {
    background-color: navy;
    color: cornsilk;
    font-size: 16px;
    padding: 8px 16px;
    text-align: center;
}


